<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDisplayName</key>
		<string>PHP Function Reference</string>
		<key>CFBundleName</key>
		<string>PHPfr</string>
		<key>CFBundleIdentifier</key>
		<string>name.hedges.andrew.phpfr</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1.0.0</string>
		<key>CloseBoxInsetX</key>
		<integer>10</integer>
		<key>CloseBoxInsetY</key>
		<integer>9</integer>
		<key>MainHTML</key>
		<string>Default.html</string>
		<key>Width</key>
		<integer>600</integer>
		<key>Height</key>
		<integer>400</integer>
		<key>AllowSystem</key>
		<true/>
		<key>AllowNetworkAccess</key>
		<true/>
		<key>BackwardsCompatibleClassLookup</key>
		<true/>
	</dict>
</plist>